body {
    background: white;
}

h1 {
    font-size: 48px;
    text-align: center;
    margin-top: 2rem;
    /* Add margin space on top */
}

.form-label {
    font-size: 24px;
    display: block;
    margin-bottom: 1rem;
}

.form-input {
    font-size: 24px;
    width: 8em;
    margin-bottom: 1rem;
    margin-left: 1em;
}

.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    height: 100%;
}

.button-group button {
    flex: 1 1 18%;
    white-space: normal;
    margin: 10px;
    max-width: calc(20% - 20px);
    height: 750px;
    justify-content: space-evenly;
    align-items: flex-start;
}

button span {
    font-size: 14px;
}

button .underline {
    text-decoration: underline;
    margin-bottom: 5px;
}

button .underline2 {
    text-decoration: underline;
    margin-bottom: 5px;
    font-size: 18px;
}

text {
    font-size: 17px;
    font-weight: bold;
}

button .headline {
    font-size: 18px;
    font-weight: bold;
}

.images {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.card {
    border: 1px dashed gray;
    transition: transform 0.2s, box-shadow 0.2s;
    height: 300px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border: 2px solid #007bff;
}

.card-body {
    text-align: center;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.form-check-label {
    display: block;
    margin-top: 1rem;
}

.card-container {
    display: flex;
    justify-content: space-between;
}

.card.selected {
    border: 2px solid #007bff;
}

.daily-plan-and-images-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.daily-plan {
    flex: 1;
    margin-right: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.daily-plan div {
    margin-bottom: 20px;
}

.daily-plan span {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.images {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    background-color: #f9f9f9;
    flex: 1;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.images img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 5px;
}